# Copyright (c) 2022 Seagate Technology LLC and/or its Affiliates

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to
# deal in the Software without restriction, including without limitation the
# rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
# sell copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in
# all copies substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
# DEALINGS IN THE SOFTWARE.

openapi: 3.0.0
info:
  title: Lyve Pilot Orchestration REST API
  description: This API provides access to all Lyve Pilot orchestration management capabilities.
  version: 1.7.0
                                 

servers:
  - url: https://api.lyve.seagate.com/{customerId}/
    description: The API entry point to your unique customer instance



tags:
  - name: root
    description: API Information
  - name: devices
    description: Used to manage device hardware information and status
  - name: volumes
    description: Volume operations for the device
  - name: activity
    description: Activities for the device
  - name: users
    description: Used to manage users in the Lyve Pilot domain
  - name: registration
    description: Used to manage registration of a Lyve Pilot device
  - name: feed
    description: Used to get feed elements to display to the client
  - name: endpoints
    description: Used to manage data endpoints
  - name: metadata
    description: Used to query metadata stored in the Lyve Pilot domain
  - name: bundles
    description: Used to manage data bundles
  - name: system
    description: Used to manage system settings

paths:
  /:
    get:
      description: Endpoint connectivity check
      responses:
        '200':
          description: Endpoint connectivity verified
  /api-docs:
    get:
      security:
        - bearerAuth: []
      tags:
        - root
      description: Return the API description
      responses:
        '200':
          description: The details for the REST API
  /udx/v1:
    get:
      security:
        - bearerAuth: []
      tags:
        - root
      description: Return all REST route endpoints for this API
      responses:
        '200':
          description: The list of REST route endpoints
  /udx/v1/version:
    get:
      security:
        - bearerAuth: []
      tags:
        - root
      description: Return the Lyve Pilot version and revision
      responses:
        '200':
          description: The Lyve Pilot version and revision
        '500':
          description: Internal Server Error. Unable to find and read the version and revision from the Lyve Pilot Version file
  /udx/v1/SeagateTermsAndConditionsAndPrivacyPolicy:
    get:
      tags:
        - users
      description: Status of user confirmation of Seagate's Terms and Conditions and Privacy Policy
      responses:
        '200':
          description: Customer has agreed to Seagate's Terms and Conditions and Privacy Policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EULASuccessResponse'
        '403':
          description: User has not yet agreed to Seagate's Terms and Conditions and Privacy Policy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EULAResponse'
        '500':
          description: >-
            Internal Server Error.
            Examples:
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
              - ValidationError:
                An instance of this error class will be returned when validation failed.
                The errors property contains an object whose keys are the paths that
                failed and whose values are instances of CastError or ValidationError.
              - OverwriteModelError:
                Thrown when a model with the given name was already registered on the connection.
  /udx/v1/firstUser:
    get:
      tags:
        - users
      description: Return information about the state of the initial (break glass) user provided to manage an instance
      responses:
        '200':
          description: The first user has been successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirstUserComplete'
        '500':
          description: >-
            Internal Server Error.
            Examples:
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
              - ValidationError:
                An instance of this error class will be returned when validation failed.
                The errors property contains an object whose keys are the paths that
                failed and whose values are instances of CastError or ValidationError.
              - OverwriteModelError:
                Thrown when a model with the given name was already registered on the connection.
    post:
      tags:
        - users
      description: Create the first administrator user for Lyve Pilot (deprecated in favor of saasFirstUser - do not use)
      requestBody:
        description: Example of payload to create the initial (break glass) user
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirstUserPayload'
      responses:
        '200':
          description: >-
            Creates the first administrator user. Returns a valid JWT user session token
            and automatically logs the new user into Lyve Pilot. The caller must
            agree to Seagate's Terms and Conditions and Privacy Policy
            as part of this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: >-
            Bad request error.
            Examples:
              - "The phone does not pass validation rules"
              - "The email does not pass validation rules"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
                  data:
                    $ref: '#/components/schemas/LoginUser'
        '500':
          description: >-
            Internal Server Error.
            Examples:
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
              - ValidationError:
                An instance of this error class will be returned when validation failed.
                The errors property contains an object whose keys are the paths that
                failed and whose values are instances of CastError or ValidationError.
              - OverwriteModelError:
                Thrown when a model with the given name was already registered on the connection.
  /udx/v1/saasFirstUser:
    post:
      tags:
        - users
      description: Create the first administrator (break glass) user for SaaS Lyve Pilot
      requestBody:
        description: Example of payload to create the First User on SaaS
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaasFirstUserPayload'
      responses:
        '200':
          description: >-
            Creates the first administrator. Returns the user profile and
            a valid One Time Code (OTC).
            The caller must agree to Seagate's Terms and Conditions and Privacy Policy
            using the OTC.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '400':
          description: >-
            Bad request error.
            Examples:
              - "The phone does not pass validation rules"
              - "The email does not pass validation rules"
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
                  data:
                    $ref: '#/components/schemas/LoginUser'
        '500':
          description: >-
            Internal Server Error.
            Examples:
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
              - ValidationError:
                An instance of this error class will be returned when validation failed.
                The errors property contains an object whose keys are the paths that
                failed and whose values are instances of CastError or ValidationError.
              - OverwriteModelError:
                Thrown when a model with the given name was already registered on the connection.
  /udx/v1/acceptEULAByUser:
    post:
      tags:
        - users
      description: Endpoint to accept Seagate's Terms and Conditions and Privacy Policy by User
      requestBody:
        description: Example of payload to accept Seagate's Terms and Conditions and Privacy Policy
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/acceptEULAByUserPayload'
      responses:
        '200':
          description: >-
            Returns a temporary JSON Web Token (JWT) to set the new password
            and update the user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateOTC'
  /udx/v1/saasUser:
    post:
      security:
        - bearerAuth: []
      tags:
        - users
      description: Register a new SaaS user. Only an Admin user can perform this operation.
      operationId: register_new_saas_user
      requestBody:
        description: Register new SaaS user
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUser'
      responses:
        '200':
          description: The user information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '500':
          description: >-
            Internal Server Error
            Examples:
              - CastError:
                An instance of this error class will be returned when mongoose failed to
                cast a value.
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
              - ValidationError:
                An instance of this error class will be returned when validation failed.
                The errors property contains an object whose keys are the paths that
                failed and whose values are instances of CastError or ValidationError.
              - ValidatorError:
                A ValidationError has a hash of errors that contain individual
                ValidatorError instances.
              - OverwriteModelError:
                Thrown when a model with the given name was already registered on the connection.
              - ParallelSaveError:
                An instance of this error class will be returned when you call save()
                multiple times on the same document in parallel.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/InternalServerError'
                  data:
                    $ref: '#/components/schemas/RegisterUser'
        '401':
          description: >-
            401 Unauthorized Error:
              The HTTP 401 Unauthorized client error status response
              code indicates that the request has not been applied because
              it lacks valid authentication credentials for the target resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/UnauthorizedRequestError'
  /udx/v1/setSaasPassword:
    post:
      tags:
        - users
      description: Set the password and update user profile.
      requestBody:
        description: Example of payload to set the new password.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setSaasPasswordPayload'
      responses:
        '200':
          description: >-
            Set a new password. The user must include the
            token provided from acceptEULAByUser.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
  /udx/v1/login:
    post:
      tags:
        - users
      description: Login user
      operationId: Login new user
      requestBody:
        description: Login user
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginUser'
      responses:
        '200':
          description: The user information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
                  data:
                    $ref: '#/components/schemas/LoginUser'
        '500':
          description: >-
            Internal Server Error.
            Examples:
              - CastError:
                An instance of this error class will be returned when mongoose failed to
                cast a value.
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
              - ValidationError:
                An instance of this error class will be returned when validation failed.
                The errors property contains an object whose keys are the paths that
                failed and whose values are instances of CastError or ValidationError.
              - ValidatorError:
                A ValidationError has a hash of errors that contain individual
                ValidatorError instances.
              - OverwriteModelError:
                Thrown when a model with the given name was already registered on the connection.
              - ParallelSaveError:
                An instance of this error class will be returned when you call save()
                multiple times on the same document in parallel.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/InternalServerError'
                  data:
                    $ref: '#/components/schemas/RegisterUser'
  /udx/v1/users:
    post:
      security:
        - bearerAuth: []
      tags:
        - users
      description: (Deprecated in favor of a POST to saasUser route) - do not use
      operationId: register_new_user
      requestBody:
        description: Register new user
        required: true 
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUser'
      responses:
        '200':
          description: The user information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '500':
          description: >-
            Internal Server Error
            Examples:
              - CastError:
                An instance of this error class will be returned when mongoose failed to
                cast a value.
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
              - ValidationError:
                An instance of this error class will be returned when validation failed.
                The errors property contains an object whose keys are the paths that
                failed and whose values are instances of CastError or ValidationError.
              - ValidatorError:
                A ValidationError has a hash of errors that contain individual
                ValidatorError instances.
              - OverwriteModelError:
                Thrown when a model with the given name was already registered on the connection.
              - ParallelSaveError:
                An instance of this error class will be returned when you call save()
                multiple times on the same document in parallel.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/InternalServerError'
                  data:
                    $ref: '#/components/schemas/RegisterUser'
        '401':
          description: >-
            401 Unauthorized Error:
              The HTTP 401 Unauthorized client error status response
              code indicates that the request has not been applied because
              it lacks valid authentication credentials for the target resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/UnauthorizedRequestError'
        '400':
          description: >-
            Bad request error. Error cases:
              - When trying to create an user which already exists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
    get:
      security:
        - bearerAuth: []
      tags:
        - users
      description: Get a list of users
      operationId: get_users
      responses:
        '200':
          description: The list of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserInfo'
        '400':
          description: >-
            Bad request error.
            Examples:
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '401':
          description: >-
            401 Unauthorized Error:
              The HTTP 401 Unauthorized client error status response
              code indicates that the request has not been applied because
              it lacks valid authentication credentials for the target resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/UnauthorizedRequestError'
  '/udx/v1/users/{userId}':
    get:
      security:
        - bearerAuth: []
      tags:
        - users
      description: Get user by User id
      operationId: get_user_by_id
      parameters:
        - $ref: '#/components/parameters/userIdParameter'
      responses:
        '200':
          description: The user entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '400':
          description: >-
            Bad request error.
            Examples:
              - CastError:
                An instance of this error class will be returned when mongoose failed to
                cast a value.
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
              - ValidationError:
                An instance of this error class will be returned when validation failed.
                The errors property contains an object whose keys are the paths that
                failed and whose values are instances of CastError or ValidationError.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: >-
            The user id was not found.
            Examples:
              - DocumentNotFoundError:
                An instance of this error class will be returned when get
                operation fails because the underlying document was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '401':
          description: >-
            401 Unauthorized Error:
              The HTTP 401 Unauthorized client error status response
              code indicates that the request has not been applied because
              it lacks valid authentication credentials for the target resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/UnauthorizedRequestError'
    patch:
      security:
        - bearerAuth: []
      tags:
        - users
      description: Update user entry by id
      operationId: update_user_by_id
      parameters:
        - $ref: '#/components/parameters/userIdParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: The user entry was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '400':
          description: >-
            Bad request error.
            Examples:
              - CastError:
                An instance of this error class will be returned when mongoose failed to
                cast a value.
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
              - ValidationError:
                An instance of this error class will be returned when validation failed.
                The errors property contains an object whose keys are the paths that
                failed and whose values are instances of CastError or ValidationError.
              - ValidatorError:
                A ValidationError has a hash of errors that contain individual
                ValidatorError instances.
              - OverwriteModelError:
                Thrown when a model with the given name was already registered on the connection.
              - ParallelSaveError:
                An instance of this error class will be returned when you call save()
                multiple times on the same document in parallel.
              - MissingPasswordFields:
                To change your password, you have to provide your current password and the new password.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: >-
            The user id was not found.
            Examples:
              - DocumentNotFoundError:
                An instance of this error class will be returned when patch
                operation fails because the underlying document was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '401':
          description: >-
            401 Unauthorized Error:
              The HTTP 401 Unauthorized client error status response
              code indicates that the request has not been applied because
              it lacks valid authentication credentials for the target resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/UnauthorizedRequestError'
    delete:
      security:
        - bearerAuth: []
      tags:
        - users
      description: Delete user by user id
      operationId: delete_user_by_id
      parameters:
        - $ref: '#/components/parameters/userIdParameter'
      responses:
        '200':
          description: The user was deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserActionConfirmation'
        '400':
          description: >-
            Bad request error.
            Examples:
              - CastError:
                An instance of this error class will be returned when mongoose failed to
                cast a value.
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
              - ValidationError:
                An instance of this error class will be returned when validation failed.
                The errors property contains an object whose keys are the paths that
                failed and whose values are instances of CastError or ValidationError.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: >-
            The user id was not found.
            Examples:
              - DocumentNotFoundError:
                An instance of this error class will be returned when delete
                operation fails because the underlying document was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '401':
          description: >-
            401 Unauthorized Error:
              The HTTP 401 Unauthorized client error status response
              code indicates that the request has not been applied because
              it lacks valid authentication credentials for the target resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/UnauthorizedRequestError'
  '/udx/v1/users/{userId}/disableUser':
    get:
      security:
        - bearerAuth: []
      tags:
        - users
      description: >-
        Disable the user by user id. This will block the user from logging in.
        User configuration will remain intact while a user is disabled.
      operationId: disable_user
      parameters:
        - $ref: '#/components/parameters/userIdParameter'
      responses:
        '200':
          description: The user was disabled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserActionConfirmation'
        '400':
          description: >-
            Bad request error.
            Examples:
              - CastError:
                An instance of this error class will be returned when mongoose failed to
                cast a value.
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: >-
            The user id was not found.
            Examples:
              - DocumentNotFoundError:
                An instance of this error class will be returned when disable
                operation fails because the underlying document was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '401':
          description: >-
            401 Unauthorized Error:
              The HTTP 401 Unauthorized client error status response
              code indicates that the request has not been applied because
              it lacks valid authentication credentials for the target resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/UnauthorizedRequestError'
  '/udx/v1/users/{userId}/enableUser':
    get:
      security:
        - bearerAuth: []
      tags:
        - users
      description: >-
        Enable user by user id. This will restore a user and allow
        login for users that were previously disabled.
        All user configuration remains intact.
      operationId: enable_user
      parameters:
        - $ref: '#/components/parameters/userIdParameter'
      responses:
        '200':
          description: The user was enabled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserActionConfirmation'
        '400':
          description: >-
            Bad request error.
            Examples:
              - CastError:
                An instance of this error class will be returned when mongoose failed to
                cast a value.
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: >-
            The user id was not found.
            Examples:
              - DocumentNotFoundError:
                An instance of this error class will be returned when enable
                operation fails because the underlying document was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '401':
          description: >-
            401 Unauthorized Error:
              The HTTP 401 Unauthorized client error status response
              code indicates that the request has not been applied because
              it lacks valid authentication credentials for the target resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/UnauthorizedRequestError'
  '/udx/v1/users/{userId}/resetPassword':
    post:
      security:
        - bearerAuth: []
      tags:
        - users
      description: Admin only. Reset password for the given user. This will generate a new One-Time-Token, which will need to be shared with the user to re-login.
      operationId: reset_password
      parameters:
        - $ref: '#/components/parameters/userIdParameter'
      responses:
        '200':
          description: The list of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetPassword'
        '400':
          description: >-
            Bad request error.
            Examples:
              - CastError:
                An instance of this error class will be returned when mongoose failed to
                cast a value.
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: >-
            The user id was not found.
            Examples:
              - DocumentNotFoundError:
                An instance of this error class will be returned when reset password
                operation fails because the underlying document was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '401':
          description: >-
            401 Unauthorized Error:
              The HTTP 401 Unauthorized client error status response
              code indicates that the request has not been applied because
              it lacks valid authentication credentials for the target resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/UnauthorizedRequestError'
  /udx/v1/setPassword:
    post:
      tags:
        - users
      description: >-
        Set a new password. The user must include the
        token provided from validateOTC. Passwords may
        only be reset by the user themselves.
      operationId: set_password
      requestBody:
        description: Payload to set a new password
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetPassword'
      responses:
        '200':
          description: User password was updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserActionConfirmation'
        '400':
          description: >-
            Bad request error.
            Examples:
              - CastError:
                An instance of this error class will be returned when mongoose failed to
                cast a value.
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
              - Decoding Error:
                Thrown when JWT library try to decode an invalid token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
  /udx/v1/validateOTC:
    post:
      tags:
        - users
      description: >-
        Validate One Time Code token. This will expire the token and
        issue a temporary authorization token to set the user password.
        This must be called by the user themselves.
      operationId: validate_otc
      requestBody:
        description: Payload to set a new password
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateOTCRequest'
      responses:
        '200':
          description: >-
            The OTC token was successfully validated, and a temporary
            authorization token was returned to be used in setPassword.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateOTC'
        '400':
          description: >-
            Bad request error.
            Examples:
              - CastError:
                An instance of this error class will be returned when mongoose failed to
                cast a value.
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: User id not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
  /udx/v1/refreshToken:
    post:
      security:
        - bearerAuth: []
      tags:
        - users
      description: >- 
        Refresh the authentication token. This allows the websocket to remain open with the user needing to log back in.  
        Any application should plan to refresh this token before its 15-minute expiration, or re-login will be required by the user.  
        The previous token will be invalid upon refresh.
      requestBody:
        description: Get the refresh token
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshToken'
      responses:
        '200':
          description: Token renew successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
  /udx/v1/roles:
    post:
      security:
        - bearerAuth: []
      tags:
        - users
      description: User Role
      operationId: create_user_roles
      requestBody:
        description: The User Role information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRole'
      responses:
        '200':
          description: The User Role name and permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRole'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
                  data:
                    $ref: '#/components/schemas/UserRole'
    get:
      security:
        - bearerAuth: []
      tags:
        - users
      description: User Roles
      operationId: get_user_roles
      responses:
        '200':
          description: The list of User Roles
          content:
            application /json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserRole'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
  '/udx/v1/roles/{userRoleId}':
    get:
      security:
        - bearerAuth: []
      tags:
        - users
      description: User Roles
      operationId: get_user_role_by_id
      parameters:
        - $ref: '#/components/parameters/userRoleIdParameter'
      responses:
        '200':
          description: The single User Roles by id
          content:
            application /json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/UserRole'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
    patch:
      security:
        - bearerAuth: []
      tags:
        - users
      description: Update information on a single User Role by id
      operationId: update_user_role_by_id
      parameters:
        - $ref: '#/components/parameters/userRoleIdParameter'
      requestBody:
        description: User Role information to be changed
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRole'
      responses:
        '200':
          description: The User Role updated information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRole'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
                  data:
                    $ref: '#/components/schemas/UpdateUserRole'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
  /udx/v1/activity:
    get:
      security:
        - bearerAuth: []
      tags:
        - activity
      description: Retrieve a list of all activities matching the criteria set in the included parameters.
      operationId: get_activities
      parameters:
        - $ref: '#/components/parameters/udsTaskIdFilterParameter'
        - $ref: '#/components/parameters/nameFilterParameter'
        - $ref: '#/components/parameters/typeFilterParameter'
        - $ref: '#/components/parameters/stateFilterParameter'
        - $ref: '#/components/parameters/dataSizeFilterParameter'
        - $ref: '#/components/parameters/udxDataObjectCountFilterParameter'
        - $ref: '#/components/parameters/timestampBeginFilterParameter'
        - $ref: '#/components/parameters/timestampEndFilterParameter'
        - $ref: '#/components/parameters/lastSyncTimeFilterParameter'
        - $ref: '#/components/parameters/sourceVolumeUuidFilterParameter'
        - $ref: '#/components/parameters/sourceDeviceUuidFilterParameter'
        - $ref: '#/components/parameters/sourceVolumeNameFilterParameter'
        - $ref: '#/components/parameters/sourceDeviceNameFilterParameter'
        - $ref: '#/components/parameters/sourceUriFilterParameter'
        - $ref: '#/components/parameters/destinationVolumeUuidFilterParameter'
        - $ref: '#/components/parameters/destinationDeviceUuidFilterParameter'
        - $ref: '#/components/parameters/destinationVolumeNameFilterParameter'
        - $ref: '#/components/parameters/destinationDeviceNameFilterParameter'
        - $ref: '#/components/parameters/destinationUriFilterParameter'
        - $ref: '#/components/parameters/deletedFilterParameter'
        - $ref: '#/components/parameters/quarantineFilterParameter'
      responses:
        '200':
          description: The list of activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
  '/udx/v1/activity/{activityId}':
    get:
      description: Retrieve a single activity instance using the activityId
      security:
        - bearerAuth: []
      tags:
        - activity
      parameters:
      - $ref: '#/components/parameters/activityIdParameter'
      responses:
        '200':
          description: activity object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
  /udx/v1/activity/{activityId}/verifyBundle:
    post:
      security:
        - bearerAuth: []
      description: >-
        Start a new Verify activity on a bundle targeted by a previous activity. A verify will 
        check the integrity of the data from the activity chosen. Verify failures will result 
        in quarantined data. If the activityId is the id of a DATA-IMPORT,
        DATA-COPY, or DATA-EXPORT, the verify will be performed on the bundle created by that
        activity. If the activityId is the id of a DATA-VERIFY activity, then the verify will
        be performed again on the same bundle. If the activityId is the id of a DATA-TRUST
        activity, then the verify will be performed on the new bundle that the trust operation
        created.
      operationId: verifyBundle
      tags:
        - activity
      parameters:
      - $ref: '#/components/parameters/activityIdParameter'
      responses:
        '200':
          description: >-
            Verify operation was started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '409':
          description: The requested activity was of type DATA-DELETE. Cannot perform verify operation with requested activity type
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Requested activityId references a DATA-DELETE activity. Cannot perform a verify activity on a DATA-DELETE activity.
        '500':
          description: >-
            Internal Server Error
            Examples:
              - CastError:
                An instance of this error class will be returned when mongoose failed to
                cast a value.
              - MissingSchemaError:
                Thrown when you try to access a model that has not been registered yet.
              - ValidationError:
                An instance of this error class will be returned when validation failed.
                The errors property contains an object whose keys are the paths that
                failed and whose values are instances of CastError or ValidationError.
              - ValidatorError:
                A ValidationError has a hash of errors that contain individual
                ValidatorError instances.
              - OverwriteModelError:
                Thrown when a model with the given name was already registered on the connection.
              - ParallelSaveError:
                An instance of this error class will be returned when you call save()
                multiple times on the same document in parallel.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/InternalServerError'
  '/udx/v1/activity/{activityId}/trustBundle':
    post:
      security:
        - bearerAuth: []
      tags:
        - activity
      description: >-
        Trust the contents of a quarantined bundle. This action will result in the generation of a new
        bundle and the previous, quarantined bundle will be deleted. Lyve Pilot will maintain a record
        of the previous bundle, but you will no longer have access to data in that bundle.
      parameters:
      - $ref: '#/components/parameters/activityIdParameter'
      responses:
        '201':
          description: The bundle trust operation started successfully, returns Activity object of Trust activity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '409':
          description: The requested bundle is not quarantined. The trust operation can only be performed on a quarantined bundle.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          example: Cannot perform trust on bundle that has not been quarantined
  '/udx/v1/activity/{activityId}/deleteBundle':
    delete:
      security:
        - bearerAuth: []
      tags:
        - activity
      description: Delete a bundle
      parameters:
      - $ref: '#/components/parameters/activityIdParameter'
      responses:
        '200':
          description: activity object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '409':
          description: Conflict error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: This bundle has been deleted before
                  data:
                    $ref: '#/components/schemas/Activity'
  '/udx/v1/activity/{activityId}/chain':
    get:
      security:
        - bearerAuth: []
      description: >-
        Get the chain of activities for the bundle targeted by the given activity.  The chain will start at the 
        most recent activity and link backwards to the import of this data.
      tags:
        - activity
      parameters:
      - $ref: '#/components/parameters/activityIdParameter'
      responses:
        '200':
          description: >-
            Get Activity chain list by Activity ID
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Activity'
  '/udx/v1/activity/{activityId}/metadata':
    get:
      security:
        - bearerAuth: []
      description: >-
        Get UDS Metadata objects by Activity Id
      operationId: get_metadata_by_activity_id
      tags:
        - activity
        - metadata
      parameters:
      - $ref: '#/components/parameters/activityIdParameter'
      responses:
        '200':
          description: >-
            List of UDS Metadata objects related
            to the given Activity.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Metadata'
  '/udx/v1/activity/{activityId}/manifest':
    get:
      security:
        - bearerAuth: []
      description: >-
        Get the list of files in the bundle associated with the given Activity Id
      operationId: get_manifest_by_activity_id
      tags:
        - activity
        - metadata
      parameters:
      - $ref: '#/components/parameters/activityIdParameter'
      responses:
        '200':
          description: >-
            The list of files is returned successfully.
            An empty list is valid and indicates zero files in the bundle.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BundleFile'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '503':
          description: >-
            Device is busy after multiple retries attempted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/ServiceUnavailable'
        '500':
          description: >-
            Device returns an unexpected error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/InternalServerError'
  '/udx/v1/activity/{activityId}/abort':
    put:
      security:
        - bearerAuth: []
      description: >-
        Abort a currently executing data activity by its Activity Id
      operationId: abortActivity
      tags:
        - activity
      parameters:
        - $ref: '#/components/parameters/activityIdParameter'
      responses:
        '200':
          description: >-
            Abort request was received by the targeted device.
            Returns activity details for the activity that is being aborted.
            The status of the abort will be reported in the activity state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UDSTask'
        '400':
          description: >-
            Bad request status received from target device.
            An invalid task ID was supplied to the target device.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '403':
          description: >-
            Abort request was rejected by targeted device.
            Device reported that Abort was not allowed for the activity.
            The activity was either completed or deleted already.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: No activity found matching provided Activity ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
  /udx/v1/import:
    post:
      security:
        - bearerAuth: []
      tags:
        - activity
      description: Start an activity to import data from a specified location
      operationId: start_import
      requestBody:
        description: The import information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImport'
      responses:
        '200':
          description: Import operation was started successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UDSTask'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
                  data:
                    $ref: '#/components/schemas/CreateImport'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Internal Server Error. Error case:
              - Unable to complete operation as orchestrationMode value is not yet supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/InternalServerError'
        '408':
          description: Request timeout error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/RequestTimeoutError'
  /udx/v1/copy:
    post:
      security:
        - bearerAuth: []
      tags:
        - activity
      description: Start an activity to copy data from one Lyve Pilot managed location to another.
      operationId: start_copy
      requestBody:
        description: The copy information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCopy'
      responses:
        '200':
          description: Copy operation was started successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyAndExportSuccessResult'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
                  data:
                    $ref: '#/components/schemas/CreateCopy'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '408':
          description: Request timeout error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/RequestTimeoutError'
        '500':
          description: >-
            Internal Server Error. Error cases:
              - Internal error: cannot access device
              - Internal error: volume not found
              - Unable to contact device
              - Cannot revoke certificate for this device
  /udx/v1/export:
    post:
      security:
        - bearerAuth: []
      tags:
        - activity
      description: Start an activity to export Lyve Pilot managed data to an unmanaged-data location.
      operationId: start_export
      requestBody:
        description: The export information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExport'
      responses:
        '200':
          description: Export operation was started successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyAndExportSuccessResult'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
                  data:
                    $ref: '#/components/schemas/CreateExport'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '408':
          description: Request timeout error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/RequestTimeoutError'
        '500':
          description: >-
            Internal Server Error. Error cases:
              - Internal error: cannot access device
              - Internal error: volume not found
              - Unable to contact device
              - Cannot revoke certificate for this device
  /udx/v1/devices:
    get:
      security:
        - bearerAuth: []
      tags:
        - devices
      description: Return the list of devices managed by Lyve Pilot
      operationId: list_all_devices
      responses:
        '200':
          description: The device information
          content:
            application /json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Devices'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
                  data:
                    $ref: '#/components/schemas/Devices'
        default:
          description: Default Response
  '/udx/v1/devices/{deviceId}/capacity':
    summary: Get total device capacity by device Id
    get:
      security:
        - bearerAuth: []
      tags:
        - devices
      operationId: read_a_device_capacity
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
      description: >-
        Returns the device information for the given ID
        and includes total capacity - including managed and unmanaged volumes
      responses:
        '200':
          description: >-
            The device information by ID and the total capacity
            adding managed and unmanaged volumes information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
  '/udx/v1/devices/{deviceId}/attachedDevices':
    summary: Return the list of attached devices by Device Id
    get:
      security:
        - bearerAuth: []
      tags:
        - devices
      operationId: list_attached_devices_by_device_id
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
      description: >-
        Return the list of devices attached to a Lyve Client portal device
      responses:
        '200':
          description: The device information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Devices'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
                  data:
                    $ref: '#/components/schemas/Devices'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
    post:
      security:
        - bearerAuth: []
      tags:
        - devices
      description: Register a new attached device to Lyve Pilot that is connected through a Lyve Client
      operationId: register_attached_device
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
      requestBody:
        description: The list of attached device id's to be registered
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                devices:
                  type: array
                  example: ['attached-device-id-1', 'attached-device-id-2']
                  items:
                    type: string
      responses:
        '201':
          description: Successful attached device registration
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Devices'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
                  data:
                    $ref: '#/components/schemas/Devices'
        '404':
          description: Attached device not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Internal Server Error. Error cases:
              - Internal error: cannot access device
              - Unable to contact device
  '/udx/v1/devices/{deviceId}/attachedDevices/{attachedDeviceId}':
    summary: Find an attached device given the ID
    get:
      security:
        - bearerAuth: []
      tags:
        - devices
      operationId: read_an_attached_device
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
        - $ref: '#/components/parameters/attachedDeviceIdPathParameter'
      description: >-
        Returns the device information for the given attached device ID
      responses:
        '200':
          description: >-
            The device information list of properties and values on it
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
  '/udx/v1/devices/{deviceId}/attachedDevices/{attachedDeviceId}/unregister':
    delete:
      security:
        - bearerAuth: []
      tags:
        - devices
      description: Unregister an attached device from Lyve Pilot
      operationId: unregister_attached_device
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
        - $ref: '#/components/parameters/attachedDeviceIdPathParameter'
      responses:
        '200':
          description: The device was unregistered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnregisterDevicesSummary'
        '500':
          description: >-
            Internal Server Error. Error cases:
              - Internal error: cannot access device
              - Internal error: cannot delete device
              - Unable to contact device
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/InternalServerError'
        '404':
          description: The device requested cannot be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
  '/udx/v1/devices/{deviceId}':
    summary: Find a device given the ID
    get:
      security:
        - bearerAuth: []
      tags:
        - devices
      operationId: read_a_device
      description: Returns the device information for the given device ID
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
      responses:
        '200':
          description: >-
            The device information list of properties and values that were
            changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        default:
          description: The device details
    patch:
      security:
        - bearerAuth: []
      tags:
        - devices
      operationId: update_device
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
      description: >-
        Updates a device by its device id and returns the updated device object
      requestBody:
        description: The updated device information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceUpdateRequest'
      responses:
        '200':
          description: >-
            The device information with the updated information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '500':
          description: Internal Server Error. Unable to update device
  '/udx/v1/devices/{deviceId}/remoteDevices':
    get:
      security:
        - bearerAuth: []
      tags:
        - devices
      operationId: list_remote_devices_by_device_id
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
      description: >-
        Returns the list of devices that the given Lyve Pilot device recognizes and to which the given device can route
      responses:
        '200':
          description: >-
            The Device Information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Devices'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
    post:
      security:
          - bearerAuth: []
      tags:
        - devices
      operationId: add_remote_devices_to_device
      description: >-
        Devices do not auto-discover one another.  This call prompts the target device to discover the device provided
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
      requestBody:
        description: uri of remote device to be added
        required: true
        content:
          application/json:
            schema:
              properties:
                uri:
                  type: string
                  example: "https://1.2.3.4:5000"
      responses:
        '201':
          description: Remote Device Discovery Started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Devices'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
                  data:
                    $ref: '#/components/schemas/Devices'
        '404':
          description: Attached device not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Internal Server Error. Error cases:
              - Internal error: cannot access device
              - Unable to contact device
    delete:
      security:
        - bearerAuth: []
      tags:
        - devices
      description: device to forget the provided device
      operationId: unassign_remote_device
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
      responses:
        '200':
          description: The remote device was unassigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
  '/udx/v1/devices/{deviceId}/remoteVolumes':
    summary: Returns the list of volumes that are routable from the target device
    get:
      security:
        - bearerAuth: []
      tags:
        - devices
      operationId: list_remote_volumes_by_device_id
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
      description: >-
        Returns the list of volumes that are routable from the target device. Volumes that 
        are attached to remote devices are returned in this list
      responses:
        '200':
          description: >-
            List of Volume Information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
  /udx/v1/connectDevice:
    post:
      security:
        - bearerAuth: []
      tags:
        - devices
      operationId: get_volume_connectivity
      description: Initiate connectivity between two devices that have not automatically discovered one another.
      requestBody:
        description: Check connectivity between the source and destination devices before volume copy.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectDevice'
      responses:
        '201':
          description: The Lyve Pilot agents on each device have established communication and discovery has started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeInfo'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
  '/udx/v1/externalStorage':
    summary: Linked endpoint collections
    get:
      security:
        - bearerAuth: []
      tags:
        - endpoints
      operationId: get_external_storage_objects
      description: Returns the list of linked endpoints
      responses:
        '200':
          description: Get all Pilot Links external storage objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalStorageItem'
        '500':
          description: >-
            Internal Server Error. Error cases:
            - Internal error: Data base error
    post:
      security:
          - bearerAuth: []
      tags:
        - endpoints
      operationId: create_external_storage_object
      description: Creates a new Linked Endpoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewExternalStorage'
      responses:
        '201':
          description: External storage object created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalStorageItem'
        '500':
          description: >-
            Internal Server Error. Error cases:
            - Internal error: Data base error
            - Internal error: cannot create data base entry
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
  '/udx/v1/externalStorage/validateEndpoint':
    summary: Validate between Linked Endpoints and Pilot Links
    put:
      security:
        - bearerAuth: []
      tags:
        - endpoints
      description: Validate that a given Linked Endpoint can connect to and utilize a given Pilot Link
      requestBody:
        description: Linked Endpoint URI, and Pilot Link ID. Include credentials if not one-time validation.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidationRequest'
      responses:
        '200':
          description: Endpoint is up and accessible by Pilot Link
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                    example: true
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Internal Server Error. Error cases:
            - Internal error: Data base error
            - Internal error: cannot access device
            - Unable to contact device
  '/udx/v1/externalStorage/{externalStorageId}':
    summary: Find a Linked Endpoint object by id
    get:
      security:
        - bearerAuth: []
      tags:
        - endpoints
      operationId: get_external_storage_object_by_id
      description: Gets an external storage object by id
      parameters:
        - $ref: '#/components/parameters/ExternalStorageParameter'
      responses:
        '200':
          description: Returns a list of Linked Endpoint objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalStorageItem'
        '500':
          description: >-
            Internal Server Error. Error cases:
            - Internal error: Data base error
            - Internal error: cannot create data base entry
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
    patch:
      security:
        - bearerAuth: []
      tags:
        - endpoints
      operationId: update_external_storage_object_by_id
      description: Update a single Linked Endpoint object by id
      parameters:
        - $ref: '#/components/parameters/ExternalStorageParameter'
      requestBody:
        description: The information to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExternalStorage'
      responses:
        '200':
          description: The updated external storage object information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalStorageItem'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
    delete:
      security:
        - bearerAuth: []
      tags:
        - endpoints
      operationId: delete_external_storage_object
      description: Delete a Linked Endpoint by id
      parameters:
        - $ref: '#/components/parameters/ExternalStorageParameter'
      responses:
        '204':
          description: No content
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Internal Server Error. Error cases:
            - Internal error: Data base error
            - Internal error: cannot create data base entry
  '/udx/v1/devices/{deviceId}/assignedStorage':
    summary: Return Linked Endpoints assigned to a given Pilot Link
    get:
      security:
        - bearerAuth: []
      tags:
        - endpoints
        - devices
      operationId: get_external_storage_items_by_device_id
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
      responses:
        '200':
          description: >-
            Return a list of Linked Endpoint objects
            assigned to a device
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalStorageItem'
        '500':
          description: >-
            Internal Server Error. Error cases:
            - Internal error: Data base error
            - Internal error: cannot create data base entry
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
    post:
      security:
          - bearerAuth: []
      tags:
        - endpoints
        - devices
      operationId: create_external_storage_item_by_device_id
      description: Create a Linked Endpoint and immediately assign it to a given Pilot Link device id
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewExternalStorage'
      responses:
        '201':
          description: External storage created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalStorageItem'
        '500':
          description: >-
            Internal Server Error. Error cases:
            - Internal error: Data base error
            - Internal error: cannot create data base entry
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
  '/udx/v1/devices/{deviceId}/assignedStorage/{externalStorageId}':
    summary: Assign / Unassign Linked Endpoints to a Pilot Link
    post:
      security:
        - bearerAuth: []
      tags:
        - endpoints
        - devices
      operationId: assign_linked_endpoint
      description: Assign Linked Endpoints to a Pilot Link
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
        - $ref: '#/components/parameters/ExternalStorageParameter'
      responses:
        '200':
          description: External storage updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalStorageItem'
        '400':
          description: Bad request error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/BadRequestError'
        '404':
          description: Not found error
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  errors:
                    $ref: '#/components/schemas/NotFoundError'
        '500':
          description: >-
            Internal Server Error. Error cases:
            - Internal error: Data base error
            - Internal error: cannot create data base entry
    delete:
      security:
        - bearerAuth: []
      tags:
        - endpoints
        - devices
      operationId: unassign_linked_endpoint
      description: Unassign Linked Endpoints from a Pilot Link
      parameters:
        - $ref: '#/components/parameters/deviceIdPathParameter'
        - $ref: '#/components/parameters/ExternalStorageParameter'
[...]
